ol{
    background-color:#BFECFF ;
}
li{
    margin-top: 10px;
}
li[data-available="true"]{
    background-color: green;
}
li[data-available="false"]{
    background-color:red;
}
li[data-price="high"]{
    font-weight: bold;
}