.parent{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.child{
    display: flex;
    gap:20px;
}
img{
    width: 20vw;
    
}
@media screen and (max-width:600px){
    body{
        background-color: blue;
    }
    .parent{
        justify-content: center;
        flex-direction: column;
    }
    .child{
        justify-content: center;
        flex-direction: column;
    }

    
}
@media screen and (min-width:601px) and (max-width:1440px){
    body{
        background-color: magenta;
    }
    .parent{
        justify-content: center;
        flex-direction: column;
    }
    .child{
        justify-content: space-between;
        flex-direction: row;
        font-size: 30px;
    }
}
@media screen and (min-width:1441px) and (max-width:2560px){
    body{
        background-color: tomato;
    }
    .parent{
        justify-content: space-around;
        flex-direction: row;
    }
    .child{
        justify-content: space-around;
        flex-direction: row;
        font-size: 40px;
    }
}